#conteudo {
    display: flex;
    justify-content: center;
}

#conteudo section {
    flex: 2;
}
#conteudo aside {
    flex: 1;
}

.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget-title h2 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.widget-title-bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.departments {
    width: 150px;
    height: 150px;
    background-color: #42b3e5;
}

.widget-body-departments {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news-data {
    display: flex;
    gap: 2px;
}
article .news-posted-at {
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
article .news-comments {
    background-color: #36a9e1;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
article .news-thumb {
    margin-top: 30px;
}
article .news-thumb img {
    width: 100%;
    height: auto;
}
article .news-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #000;
}
article .news-resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
}